@import url('https://fonts.googleapis.com/css2?family=Russo+One&family=VT323&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: uppercase;
    font-family: Russo One;
    font-weight: bold;
    font-size: 22px;
}

body {
    border: 1px solid gray;
    height: 95vh;
}

.box {
    background: navy;
    text-align: center;
    color: white;
    padding: 10px 40px;
    border-radius: 10px;
    height: 68px;
    display: flex;
    align-items: center;
}

.mainContainer {
    height: inherit;
    display: flex;
    justify-content: center;
    margin-top: 130px;
    gap: 10px;
    width: 100%;
}

.child-1,
.child-4,
.child-5,
.child-6 {
    background: #e8e8e8;
    color: #000;
}

.child-2 {
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

.child-3 {
    background: #4c6120;
}

img {
    width: 20px;
    height: 20px;
}