@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: VT323,display;
 }

 body {
    border: 1px solid purple;
 }

 .contain {
    text-transform: uppercase;
    height: 600px;
    border: 3px solid green;
 }

 h1,
 p {
    font-style: italic;
    font-weight: bold;
    font-size: 90px;
    text-align: center;
    border: 1px solid red;
 }

 .child-2 {
    text-transform: inherit;
    color: green;
    background-color: aqua;
 }

 .child-3 {
    text-transform: uppercase;
 }

 .child-4 {
    text-transform: uppercase;
 }

 h1 {
    color: red;
    background-color: black;
 }

 p {
    color: blue;
    background-color: yellow;
 }

 