.btn {
    width: 100px;
    height: 50px;
    background-color: blueviolet;
    color: antiquewhite;
    border: 1px;
    outline: 1px;
    text-transform: capitalize;
}

.btn:hover {
    cursor: pointer;
    background-color: aquamarine;
    color: brown;
    text-transform: uppercase;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

.btn::before {
    content: ' hello ';
}