.containt {
    width: 200px;
    height: 200px;
    background-color: #00ffff;
    padding: 30px;
    margin: 30px;
    border-width: 20pz;
    border-style: dashed;
    border-color: blue;
    text-align: center;
    line-height: 200px;
}