* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-scale {
    width: 400px;
    height: 300px;
    margin: 150px auto;
}

img {
    height: inherit;
    width: inherit;
    margin: auto 50px;
    scale: 0.2;
}

img:hover {
    scale: 1.5;
    transition: all 0.03s ease-in-out;
}