* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  min-height: 100vh;
  background: linear-gradient(135deg, #92a1c9, #6b98f3);
  color: #fff;
  display: flex;
  flex-direction: column;
}

#btn {
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 20px;
  width: 100px;
  padding: 10px;
  border-radius: 8px;
  border: none;
  background: linear-gradient(135deg, #1e40af, #2563eb);
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

#btn:hover {
  background: linear-gradient(135deg, #67a4cf, #2563eb);
  transform: scale(1.05);
}


h1 {
  text-align: center;
  margin: 10px 0 20px;
  font-size: 2.5rem;
  letter-spacing: 1px;
}

.container {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(12px);
  width: 90%;
  max-width: 500px;
  margin: auto;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 25px 40px rgba(162, 185, 203, 0.4);
}


.container h2 {
  text-align: center;
  margin-bottom: 8px;
  font-size: 1.6rem;
}

.subtitle {
  text-align: center;
  font-size: 0.9rem;
  opacity: 0.8;
  margin-bottom: 25px;
}

.payment-option {
  background: #e8e4e4;
  border: 2px solid transparent;
  padding: 15px 18px;
  border-radius: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  color: #000;
}

.payment-option:hover {
  background: rgba(255, 255, 255, 0.25);
  transform: translateY(-3px);
}

.payment-option.selected {
  border-color: #00f2fe;
  background: linear-gradient(
    135deg,
    rgba(0, 242, 254, 0.3),
    rgba(79, 172, 254, 0.3)
  );
  box-shadow: 0 10px 25px rgba(0, 242, 254, 0.3);
}

.payment-name {
  font-size: 1.05rem;
  font-weight: 500;
}

.checkmark {
  opacity: 0;
  font-size: 1.3rem;
  color: #00f2fe;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.payment-option.selected .checkmark {
  opacity: 1;
  transform: scale(1.2);
}

.continuebtn:not(:disabled):hover {
  transform: scale(1.05);
  box-shadow: 0 12px 25px rgba(0, 242, 254, 0.4);
}


#continueBtn {
  width: 100%;
  padding: 14px;
  margin-top: 20px;

  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.5px;

  border: none;
  border-radius: 8px;

  background: #cfcfcf;
  color: #666;
  transition: all 0.3s ease;
}

#continueBtn.enabled {
  background: linear-gradient(135deg, #00b09b, #96c93d);
  color: #fff;
  cursor: pointer;
}

#continueBtn.enabled:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

#continueBtn.enabled:active {
  transform: scale(0.98);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.25);
}

#continueBtn:disabled {
  opacity: 0.7;
}

@media (max-width: 480px) {
  h1 {
    font-size: 2rem;
  }

  .container {
    padding: 20px;
  }

  .payment-name {
    font-size: 0.95rem;
  }
}