body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.mainContainer{
    border-radius: 7px 7px 70px 70px;
    background: rgb(229, 226, 226);
    height: 68vh;
    position: relative;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    font-size: large;
    font-weight: 400;
}
.navleft{
    display: flex;
    gap: 20px;
    padding-left: 40px;
}
.element{
    background: white;
    width: 90px;
    border-radius: 30px 30px 30px 30px;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
}
.navright{
    display: flex;
    gap: 6px;
    padding-right: 40px;
}
.navright a {
    color: black;
    text-decoration: none;
}
.logo{
    text-align: center;
    font-size: 90px;
}
.namebtn{
   border-radius: 30px 30px 30px 30px;
    transform: rotate(-9deg); 
    height: 30px;
    width: 110px;
    border: none;
    position: absolute;
    font-size: 12px;
    font-weight: bold;
    top: 26%;
    left: 52%;
}
.fonts p{
    text-align: center;
    font-size: xx-large;
    font-weight: 700;
    margin: 0px;
}
/* .fonts button{
    text-align: center;
} */
.button{
    text-align: center;
    border: 1px solid black;
    width: 142px;
    margin:35px 0px 0px 692px;
    padding: 5px;
    background: black;
    color: white;
    border-radius: 50px;
}
.logo-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px; 
    flex-wrap: wrap;
    margin: 40px 0px;
}

.logo-container img {
  width: 150px;  
  height: 100px;   
  object-fit: contain; 
  /* filter: grayscale(100%);  */
  transition: transform 0.5s ease-in-out;
}

.logo-container img:hover {
  transform: scale(1.5);
  /* filter: grayscale(0%); */
}
.mainContainer1{
    border-radius: 0px 0px 70px 70px;
    border-top-left-radius: 70px ;
    border-top-right-radius: 70px;
    background: rgb(229, 226, 226);
    /* height: 0vh; */
    padding-top: 80px;
    position: relative;
}
.mainContainer1 .p{
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    
}
.box{
    padding: 40px;
}
.servicebtn{
    position: absolute;
    top: 45%;
    left: 47%;
    /* padding: 5px; */
    width: 120px;
    height: 40px;
    border: none;
    background: white;
    border-radius: 30px 30px 30px 30px;
    transform: rotate(-8deg); 
}
.services{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 70px 0px ;
}
.boxs{
    width: 201px;
}
.bold{
    font-weight: 500;
}
.services i{
    font-size: x-large;
}
